<div class="container">
	<div class="section">
		<div class="row center">
		  <div class="col s12">
		    <h3 class="red-text"><i class="large material-icons">theaters</i></h3>
		    <h4 class="red-text">Tous les clubs de notre école !</h4>  
		  </div>
		</div>	

		<br>
		<div class="row">
		<% @clubs.each do |club| %>

			<div class="col s12 m6 l4">
				<div class="card medium">
					<div class="card-image waves-effect waves-block waves-light" style="max-height: 75%; min-height: 75%">
						<%= image_tag club.image_club(:medium), class: "activator", style: "height: 300px" %>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4"><%= club.nom %><i class="material-icons right">more_vert</i></span>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4"><%= club.nom %><i class="material-icons right">close</i></span>
						<p><%= simple_format(club.description).html_safe %></p>
					</div>
				</div>
			</div>

	  	<% end %>
	  </div>
  	</div>
</div>
