
<div class="row" id="dashMain">
	<div class="col s1">
		<div id="dashTab">
		  <ul class="tabs">
		    <li class="tab"><a href="#test1" class="active">News</a></li>
		    <li class="tab"><a href="#test2">Clubs</a></li>
		    <li class="tab"><a href="#test3">Partenaires</a></li>
		    <li class="tab"><a href="#test4">Bde</a></li>
		  </ul>
		</div>
	</div>
	<div class="col s8 offset-s1">
		<div id="test1" class="col s12">
				<%= render "dashboard/news" %>
		</div>
		<div id="test2" class="col s12">
				<%= render "dashboard/clubs" %>
		</div>
		<div id="test3" class="col s12">
				<%= render "dashboard/partenaires" %>
		</div>
		<div id="test4" class="col s12">
				<%= render "dashboard/bde" %>
		</div>
	</div>
</div>
