/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

::selection 
{
  background: #9575CD; 
  color: white;
}
::-moz-selection 
{
  background: #9575CD;
  color: white;
}

body 
{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main 
{
  flex: 1 0 auto;
}

p
{
  text-align: justify;
}

footer ul li a img
{
  height: 13px;
  max-width: 13px;
}

footer > div > div > div > img
{
  height: 80px;
}

.dropdown-content 
{
  background-color: #424242;
  margin: 0;
  display: none;
  min-width: 7vw;
  max-height: auto;
  margin-left: -1px; 
  overflow: hidden; 
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

.dropdown-content li>a, .dropdown-content li>span
{
  color: white;
}

.dropdown-content li>a:hover, .dropdown-content li>span:hover
{
  color: black;
}

/* Size of dropdown content for smaller screens */
@media (min-width: 1200px) and (max-width: 1650px) {
  .dropdown-content 
  {
    min-width: 12vw;
  }
}
@media (max-width: 1200px) {
  .dropdown-content 
  {
    min-width: 13vw;
  }
}

nav ul a,
nav .brand-logo 
{
  color: white;
}

nav img 
{
  height: 2em;
}

p 
{
  line-height: 2rem;
}

div .parallax > img
{
  display: block;
}


.button-collapse 
{
  color: #26a69a;
}

.parallax-container 
{
  min-height: 350px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section 
{
  width: 100%;
}

.parallax img
{
  /*background-position: 100% 100px !important;*/
  /*height: 40px;*/
}

@media only screen and (max-width : 992px) 
{
  .parallax-container .section 
  {
    position: absolute;
    top: 40%;
  }
  #index-banner .section 
  {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) 
{
  #index-banner .section 
  {
    top: 0;
  }
}

.icon-block 
{
  padding: 0 15px;
}
.icon-block .material-icons 
{
  font-size: inherit;
}

.italic
{
  font-style: italic;
}

.small
{
  font-size: 0.8em;
}

#toast-container
{
  top: 10%;
  left: 35%;
  right: 35%;
  text-align: center;
}

.toast
{
  display: block;
  float: none;
}

.alert
{
  color: #a94442;
  background-color: #f2dede;
}

.notice
{
  color: #3c763d;
  background-color: #dff0d8;
}

table.dataTable th
{
  cursor: pointer;
}


footer.page-footer 
{
  margin: 0;
}
