// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bde > p
{
	text-align:center;
	margin:auto;
	margin-bottom:20px;
}

.bde > p:first-of-type
{
	width:75%;
	font-weight:bold;
	background-color:#ee711a;
}

/* Inputs focus and labels */
.input-field input[type=password]:focus + label 
{
	color: #ffc107;
}

.input-field input[type=password]:focus 
{
	border-bottom: 1px solid #ffc107;
	box-shadow: 0 1px 0 0 #ffc107;
}