// Place all the styles related to the partenaires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parrain
{
	margin-bottom:20px;
}

.parrain > div
{
	border:2px solid grey;
	min-height:250px;
	max-height:250px;
	overflow:auto;
}

.parrain > div:first-of-type
{
	border-right:none;
	background-color: #3b5998;
}

.parrain > div:first-of-type > p
{
	width:100%;
}

@media (max-width: 600px)
{
	.parrain > div
	{
		min-height:100%;
		max-height:100%;
	}
}