<!-- Dropdown Main Structure -->
<ul id="dropdownMain" class="dropdown-content">
  <li><a href="#!">L'école</a></li>
  <li class="divider"></li>
  <li><a href="#!">L'association</a></li>
  <li class="divider"></li>      
  <li><a href="#!">Nos activités</a></li>
  <li class="divider"></li>  
  <li><a href="#!">L'équipe</a></li> 
</ul>

<!-- Dropdown Side Structure -->
<ul id="dropdownSide" class="dropdown-content">
  <li><a href="#!">L'école</a></li>
  <li class="divider"></li>
  <li><a href="#!">L'association</a></li>
  <li class="divider"></li>      
  <li><a href="#!">Nos activités</a></li>
  <li class="divider"></li>  
  <li><a href="#!">L'équipe</a></li>  
</ul>

<!-- Nav menu -->
<div class="navbar-fixed">
<nav class="grey darken-3" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo"><%= image_tag "logo.png" %></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="/" data-activates="dropdownMain">Le BDE</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/partenaires">Partenaires</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/">Index</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a class="dropdown-button" href="/" data-activates="dropdownSide">Dropdown</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
</div>
